language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - phpenv config-add .travis-config.ini
  - composer self-update
  - pecl install -f mongo-1.4.1
  - composer install --dev --prefer-source --no-interaction

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs --standard=PSR2 --ignore=test/Bootstrap.php --ignore=test/data/ --ignore=test/assets/module src test

services: 
  - mongodb
