<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="admin">
            <directory>./test/Admin</directory>
        </testsuite>
        <testsuite name="server-orm">
            <directory>./test/src/Server/ORM/Setup</directory>
            <directory>./test/src/Server/ORM/CRUD</directory>
            <directory>./test/src/Server/ORM/Event</directory>
            <directory>./test/src/Server/ORM/Collection</directory>
        </testsuite>
        <testsuite name="server-odm">
            <directory>./test/src/Server/ODM/Setup</directory>
            <directory>./test/src/Server/ODM/CRUD</directory>
            <directory>./test/src/Server/ODM/Event</directory>
            <directory>./test/src/Server/ODM/Collection</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./test</directory>
                <file>./config/module.config.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
